/**
 * COmanage Registry Collaboration Error Style Sheet
 *
 * Portions licensed to the University Corporation for Advanced Internet
 * Development, Inc. ("UCAID") under one or more contributor license agreements.
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.
 *
 * UCAID licenses this file to you under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 * @link          http://www.internet2.edu/comanage COmanage Project
 * @package       registry
 * @since         COmanage Registry v2.0.0
 * @license       Apache License, Version 2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */
  

h1 { font-size: 2em; }
  .mdl-layout__header-row { padding-left: 7px; }
  #content-inner { padding: 2em; }
  .boxed-content { display: inline-block; border: 1px solid #ccc; margin: 0 1em 2em 0; text-align: center;}
  .box-title { background-color: #f5f5f5; padding: 0.5em 1em;}
  .box-content { list-style: none; padding: 0; margin: 1em; }
  .box-content li { display: inline-block; text-align: center; width: 100px; vertical-align: top; margin: 0.5em 0.5em 0 0; padding: 0; }
